.card3 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}
.movieContainer {
    border-top: 1px orangered solid;
    border-bottom: 1px orangered solid;
}
.movieCover {
    width: 200px;
}
.center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.videoLink {
    float: right;
}