@font-face {
    font-family: typewriter;
    src: url(../fonts/jmh_typewriter/JMH\ Typewriter-Black.otf);
}
@font-face {
    font-family: typewriter-thin;
    src: url(../fonts/jmh_typewriter/JMH\ Typewriter-Thin.otf);
}
:root {
    overflow-x: hidden;
    scrollbar-width: none;
}
body {
    display: flex;
    flex-direction: column;
    background: radial-gradient(ellipse at top, #181C14, #151515),
            radial-gradient(ellipse at bottom, #151515, #181C14);
    background-size: cover;
    margin: 0;
    height: 100dvh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
header {
    min-height: 200px;
    width: 100%;
    order: 1;
}
header #banner {
    z-index: 1;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    backdrop-filter: blur(10px);
    mix-blend-mode: color-dodge;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url(../img/backdrop.jpg);
}
header h1 {
    font-family: typewriter;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    transform: translateY(calc(50% + 2rem));
    margin: 5px;
    padding: 0;
    color: darkgoldenrod;
    letter-spacing: 10px;
    text-shadow: 1px 1px 2px #151515;
}
nav {
    z-index: 1;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    color: darkgoldenrod;
}
nav li {
    display: flex;
    align-items: center;
}
nav li:hover {
    color: gold;
    text-shadow: 0px 1px 5px gold;
}
a {
    text-decoration: none;
    color: inherit;
}
nav ul button {
    background-color: transparent;
    border: none;
    color: darkgoldenrod;
    margin: 0;
    padding: 0;
    display: flex;
}
#subject {
    z-index: 1;
    position: absolute;
    left: calc(50% - 150px);
    width: 300px;
    filter: grayscale(1) brightness(0.2);
}
main {
    position: relative;
    /* transform: translateY(-20px); */
    order: 1;
    min-height: 200px;
    z-index: 1;
    background-color: #151515;
    box-shadow: 1px 1px 10px #181C14;
}
main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -10px;
    /* bottom: -10px; */
    left: 0;
    background: inherit;
    filter: blur(2px);
    clip-path: polygon(
        0% 50%, 10% 20%, 20% 60%, 30% 35%, 
        40% 55%, 50% 30%, 60% 60%, 70% 40%, 
        80% 65%, 90% 30%, 100% 50%);
}
main::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -10px;
    left: 0;
    background: inherit;
    filter: blur(2px);
    clip-path: polygon(
        0% 50%, 10% 30%, 20% 65%, 30% 35%, 
        40% 55%, 50% 30%, 60% 60%, 70% 40%, 
        80% 65%, 90% 30%, 100% 50%
    );
}
p {
    color: inherit;
}
footer {
    color: darkgoldenrod;
    width: 100dvw;
    position: absolute;
    bottom: 0;
    text-align: center;
}
footer hr {
    height: 2px;
    background-color: currentColor;
    border: none;
}