@font-face {
    font-family: typewriter;
    src: url(../fonts/jmh_typewriter/JMH\ Typewriter-Black.otf);
}
@font-face {
    font-family: typewriter-thin;
    src: url(../fonts/jmh_typewriter/JMH\ Typewriter-Thin.otf);
}
:root {
    --bg-primary: #151515;
    --bg-secondary: #181C14;
    --text-color: whitesmoke;
    --accent-color: darkgoldenrod;
    --accent-hover: gold;
    overflow-x: hidden;
    scrollbar-width: none;
    color: var(--text-color);
}
body {
    display: flex;
    flex-direction: column;
    background: radial-gradient(ellipse at top, var(--bg-secondary), var(--bg-primary)),
            radial-gradient(ellipse at bottom, var(--bg-primary), var(--bg-secondary));
    background-size: cover;
    margin: 0;
    height: 100dvh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
header {
    min-height: 200px;
    width: 100%;
    /* position: absolute; */
    order: 0;
}
header #banner {
    z-index: 1;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    mix-blend-mode: color-dodge;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url(../img/backdrop.jpg);
}
h1, h2, h3 {
    font-family: typewriter;
    letter-spacing: 10px;
    color: var(--accent-color);
}
header h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    transform: translateY(calc(50% + 2rem));
    margin: 5px;
    padding: 0;
    text-shadow: 1px 1px 2px var(--bg-primary);
}
nav {
    z-index: 1;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    color: var(--accent-color);
}
nav li {
    display: flex;
    align-items: center;
}
nav li:hover {
    color: var(--accent-hover);
    text-shadow: 0px 7px 15px var(--accent-hover);
}
a {
    text-decoration: none;
    color: inherit;
}
nav ul button {
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    margin: 0;
    padding: 0;
    display: flex;
}
#banner-subject {
    z-index: 1;
    position: absolute;
    left: calc(50% - 150px);
    width: 300px;
    filter: grayscale(1) brightness(0.2);
}
main {
    position: relative;
    flex: 1 0 auto;
    z-index: 1;
    background-color: var(--bg-primary);
    box-shadow: 1px 1px 10px var(--bg-secondary);
    padding: 20px 20%;
    margin-bottom: 60px;
}
main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -10px;
    /* bottom: -10px; */
    left: 0;
    background: inherit;
    filter: blur(2px);
    clip-path: polygon(
        0% 50%, 10% 20%, 20% 60%, 30% 35%, 
        40% 55%, 50% 30%, 60% 60%, 70% 40%, 
        80% 65%, 90% 30%, 100% 50%);
}
main::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -10px;
    left: 0;
    background: inherit;
    filter: blur(2px);
    clip-path: polygon(
        0% 50%, 10% 30%, 20% 65%, 30% 35%, 
        40% 55%, 50% 30%, 60% 60%, 70% 40%, 
        80% 65%, 90% 30%, 100% 50%
    );
}
h2 {
    text-align: center;
    font-size: large;
}
hr {
    border-color: #1d1d1d;
    margin: 30px 50px;
    padding: 0;
}
.transparentBG::after {
    content: "";
    position: absolute; /* Needed to stretch */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/backdrop.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
    background-attachment: fixed;
    border-radius: 10px;
    background-position: 50% 50%;
}
.transparentBG {
    backdrop-filter: blur(0px);
    margin: 0;
}
section {
    border: 1px solid var(--text-color);
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    min-height: 150px;
}
section::after {
    content: '';
    clear: both;
    display: block;
}
section h3 {
    text-align: justify;
    font-family: typewriter-thin;
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    text-align: center;
}
section img {
    border-radius: 10px;
    margin-right: 20px;
    width: 150px;
    float: left;
    transition: transform 0.3s ease; /* Add smooth transition */
}
section img:hover {
    transform: scale(1.05); /* Scale up by 20% on hover */
}
section p:nth-of-type(even) {
    color: darkgray;
}
section a {
    display: block;
    width: fit-content;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
}
.StylizedBtn-1 {
    background-color: rgba(21, 21, 21, .3);
    backdrop-filter: blur(5px);
    border: 1px solid var(--accent-color);
    /* border: none; */
    color: var(--accent-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5px;
}
.StylizedBtn-1:hover {
    background-color: var(--accent-color);
    color: var(--bg-primary);
}
#about {
    text-align: center;
}
p {
    color: inherit;
}
footer {
    color: var(--accent-color);
    width: 100%;
    margin-top: auto;
    padding: 20px 0;
    text-align: center;
}
footer hr {
    height: 2px;
    background-color: currentColor;
    border: none;
}
nav {
    position: sticky;
    top: 0;
    z-index: 999;
}
@media screen and (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    nav ul li {
        display: block;
        text-align: center;
        width: 100%;
        border: 1px solid var(--accent-color);
    }
    nav ul li:nth-of-type(4) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Resume specific styles */
#profile {
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;
    background-color: var(--accent-color);
    column-gap: 10px;
    row-gap: 0px;
    color: var(--text-color);
    font-family: typewriter-thin;
    letter-spacing: 3px;
    line-height: 30px;
    max-width: 70dvw;
    margin: 0 auto;
}

#profile img {
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
    align-items: center;
}

#profile h2 {
    color: var(--text-color);
    grid-row: 1/2;
    grid-column: 2/4;
    margin: 5px;
}

#profile #bio {
    grid-column: 2/3;
    grid-row: 2/3;
}

#contact {
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#download {
    text-align: center;
}

#download a {
    color: var(--accent-color);
    padding: 10px;
    transition: all 0.3s ease;
}

#download a:hover {
    border-radius: 5px;
    color: var(--text-color);
    box-shadow: 0 0 0 1px var(--accent-color);
}