/* https://colorhunt.co/palette/1e201e3c3d37697565ecdfcc */
:root {
    --BackgroundColour: rgb(30, 32, 30);
    --Highlight: rgb(236, 223, 204);
    --Primary: rgb(60, 61, 55);
    --Secondary: rgb(105, 117, 101);
    --RED: #B8001F;
    background-color: var(--Primary);
}
html {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0;
}
#logo {
    margin-left: 5%;
    margin-top: 5%;
}
body {
    width: 80vw;
    height: 80vh;
    border: 1px solid var(--Highlight);
}
.button {
    color: var(--Highlight);
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: 1px var(--Highlight) solid;
}
.button:hover {
    text-shadow: 1px 1px white;
}